## .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.cache
*.vs/
.vs/

## Publish output
deploy/

## Debug logs
debug.log
launch_debug.log
music_debug.log
video_debug.log

## OS files
Thumbs.db
Desktop.ini
.DS_Store
